.visitor-counter {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Set your preferred color here */
  }
  
  .visitor-counter h3 {
    margin-top: 5rem; /* Adds space between the title and the section above */
    font-size: 2em;
    font-weight: bold;
    font-family: 'Georgia', serif; /* Steampunk-inspired font */
    margin-bottom: 10px;
  }
  
  .visitor-counter p {
    font-size: 1.2em;
  }
  